<template>
  <PanelSection :section-classes="['banner', 'right']" id="banner">
    <div class="content color0 span-3-75">
      <h1 class="major">The Visuals: Inquisition</h1>
      <p>The Visuals to drużyna powstawała na potrzeby bitew dubbingowych skupiająca się na tworzeniu gier visual novel.</p>
      <ul class="actions">
        <li><a href="#latest" v-on:click="goToLatest" class="button primary">Zobacz nowelki &gt;&gt;&gt;</a></li>
      </ul>
    </div>
    <div class="image filtered span-1-75" data-position="25% 25%">
      <img src="~@/assets/images/opiekun.png" alt="" />
    </div>
  </PanelSection>
</template>

<script setup>
import PanelSection from "../components/PanelSection";
import * as $ from "jquery";

const goToLatest = () => {
  $(document).scrollLeft($("#latest").position().left);
}
</script>

<style lang="scss">

#app {

}
</style>
