<template>
  <PanelSection :section-classes="['spotlight', 'large', 'left']">
    <div class="content span-7">
      <h1 class="major">Lustro</h1>
      <p>Nasz trzeci projekt na VII edycję bitew dubbingowych!</p>
      <p>Amaya jest nękana w szkole. Wszystko zmienia się gdy odkrywa tajemniczne lustro.</p>
      <ul class="actions">
        <li><a href="#download" v-on:click="goToDownload" class="button primary">Pobierz</a></li>
        <li><a href="https://nietypowa-milosc-webgl.vercel.app/" target="_blank" class="button secondary">Zagraj online</a></li>
      </ul>
    </div>
    <div class="image filtered tinted" data-position="top left">
      <img src="~@/assets/images/kolaz.png" alt="" />
    </div>
  </PanelSection>
  <PanelSection :section-classes="['spotlight', 'small', 'right']" id="download">
    <div class="content span-10">
      <h2 class="major">Pobierz</h2>
      <p>Poniżej znajdziesz linki do gry na platformy Windows i macos. Możesz też <a href="https://nietypowa-milosc-webgl.vercel.app/" target="_blank"> zagrać online</a>.</p>
      <ul>
        <li><a :href="`${publicPath}lustro_rc1_win.zip`" target="_blank" >Windows</a></li>
        <li><a :href="`${publicPath}lustro_rc1_macos.zip`" target="_blank" >macOS</a></li>
      </ul>
    </div>
    <div class="image filtered tinted" data-position="top left">
      <img src="~@/assets/images/lustro.png" alt="" />
    </div>
  </PanelSection>
</template>

<script setup>
import PanelSection from "../components/PanelSection";
import * as $ from "jquery";
const goToDownload = () => {
  $(document).scrollLeft($("#download").position().left);
}
const publicPath = process.env.BASE_URL;
</script>

<style lang="scss">

#app {

}
</style>
