<template>
  <PanelSection :section-classes="['spotlight', 'medium', props.position || 'right']" :id="props.id">
    <div class="content span-7">
      <h2 class="major">{{props.title}}</h2>
      <slot></slot>
      <ul class="actions">
        <li v-if="props.previousPanel"><a :href=props.previousPanel v-on:click="goToPrevious" class="button secondary">&lt;&lt;&lt;</a></li>
        <li><router-link :to="props.detailsLink" class="button primary">Szczegóły</router-link></li>
        <li v-if="props.nextPanel"><a :href=props.nextPanel v-on:click="goToNext" class="button secondary">Następna nowelka &gt;&gt;&gt;</a></li>
      </ul>
    </div>
    <div class="image filtered tinted" data-position="top left">
      <img :src="props.image" alt="" />
    </div>
  </PanelSection>
</template>

<script setup>
import PanelSection from "../components/PanelSection";
import { defineProps } from "vue";
import * as $ from 'jquery';

const props = defineProps({
  title: String,
  id: String,
  nextPanel: String,
  previousPanel: String,
  detailsLink: String,
  position: String,
  image: String,
})
const goToNext = () => {
  $(document).scrollLeft($(props.nextPanel).position().left);
}
const goToPrevious = () => {
  $(document).scrollLeft($(props.previousPanel).position().left);
}

</script>

<style lang="scss">

#app {

}
</style>
