<template>
  <PanelSection :section-classes="['spotlight', 'large', 'left']">
    <div class="content span-7">
      <h1 class="major">Pomyślny Wiatr</h1>
      <p>Nasz drugi projekt na VII edycję bitew dubbingowych!</p>
      <p>Atsuko przez większość życia mieszkała z mamą w mieście. Kiedy jej babcia zachorowała i musiała przeprowadzić się do małej rybackiej osady by jej pomóc wiedziała, że jej życie się zmieni. Po prostu nie spodziewała się, że aż tak bardzo...</p>
      <ul class="actions">
        <li><a href="#download" v-on:click="goToDownload" class="button primary">Pobierz</a></li>
        <li><a href="https://koty-webgl.vercel.app/" target="_blank" class="button secondary">Zagraj online</a></li>
        <li><a :href="require('../assets/mp3/pomyslny_wiatr_opening.mp3')" target="_blank" class="button secondary">Opening</a></li>
        <li><a :href="require('../assets/mp3/pomyslny_wiatr_ending.mp3')" target="_blank" class="button secondary">Ending</a></li>
      </ul>
    </div>
    <div class="image filtered tinted" data-position="top left">
      <img src="~@/assets/images/opiekun.png" alt="" />
    </div>
  </PanelSection>
  <PanelSection :section-classes="['spotlight', 'small', 'right']" id="download">
    <div class="content span-10">
      <h2 class="major">Pobierz</h2>
      <p>Poniżej znajdziesz linki do gry na platformy Windows i macos. Możesz też <a href="https://koty-webgl.vercel.app/" target="_blank"> zagrać online</a>.</p>
      <ul>
        <li><a :href="`${publicPath}koty_build_windows_rc3.zip`" target="_blank" >Windows</a></li>
        <li><a :href="`${publicPath}koty_build_macos_rc3.zip`" target="_blank" >macOS</a></li>
      </ul>
    </div>
    <div class="image filtered tinted" data-position="top left">
      <img src="~@/assets/images/shrine_dark.png" alt="" />
    </div>
  </PanelSection>
</template>

<script setup>
import PanelSection from "../components/PanelSection";
import * as $ from "jquery";
const goToDownload = () => {
  $(document).scrollLeft($("#download").position().left);
}
const publicPath = process.env.BASE_URL;
</script>

<style lang="scss">

#app {

}
</style>
