<template>
  <section class="panel" :class="props.sectionClasses">
    <slot></slot>
  </section>
</template>

<script setup>
import { defineProps } from "vue";
const props = defineProps({
  sectionClasses: Array
});
</script>

<style lang="scss">

#app {

}
</style>
