<template>
  <PanelSection :section-classes="['spotlight', 'large', 'left']">
    <div class="content span-7">
      <h1 class="major">1 do 12</h1>
      <p>Nasz pierwszy projekt na VII edycję bitew dubbingowych!</p>
      <p>Olivię i Aspena łączy zarówno przyjaźń jak i rywalizacja. Wiodą względnie beztroskie życie wypełnione wyścigami i szkołą. Jednak, naturą świata jest zmiana, nie zawsze na lepsze.</p>
      <ul class="actions">
        <li><a href="https://przemiana.vercel.app/" target="_blank" class="button primary">Zagraj online</a></li>
        <li><a :href="require('../assets/mp3/znow_razem_bedziemy_biec.mp3')" target="_blank" class="button secondary">Posłuchaj endingu</a></li>
      </ul>
    </div>
    <div class="image filtered tinted" data-position="top left">
      <img src="~@/assets/images/przemiana.png" alt="" />
    </div>
  </PanelSection>
</template>

<script setup>
import PanelSection from "../components/PanelSection";
</script>

<style lang="scss">

#app {

}
</style>
