<template>
  <PageWrapper>

      <router-view></router-view>
      <div class="copyright">&copy; The Visuals: Inquisition</div>
      <div v-if="route.path !== '/'" class="backButton">
        <router-link to="/" class="button secondary">&lt;&lt;&lt; Strona główna</router-link>
      </div>

  </PageWrapper>
</template>

<script setup>
// eslint-disable-next-line no-unused-vars
import * as main from "./_main.js";
import PageWrapper from "./components/PageWrapper";
import {useRoute} from "vue-router";

const route = useRoute()
</script>

<style lang="scss">
@import "./assets/sass/main.scss";

#app {

}
</style>
